<!DOCTYPE html>                                                                                                                      
{% load static %}
<html>
    <head>
        <title>Exchange Prices</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" >
    </head>
    <body>
        <!--Coin container-->
        {%for coin in coins %}
            <h2>{{ coin.name }}</h2>
            <div class="coin_div">
                <!-- Create asks + bids columns -->
                {% for book in coin.books %} 
                <!--<div class="{{book.name}}_div">-->
                <div class="price_div {{book.name}}">
                    <h3>{{book.name|camel}}:</h3>
                    <!-- Create all exchanges for the given book -->
                    <div class="exchanges_container">
                    {% for exchange in book.exchanges %}
                        <div class="exchange">
                            <h4>{{ exchange.name }}</h4>
                            <table>
                                <tr>
                                    <th>Price ($)</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                {% for offer in exchange.offers %}
                                <!-- Populate the exchange's table -->
                                <tr>
                                    <td>{{ offer.price }}</td>
                                    <td>{{ offer.quantity }}</td>
                                    <td>{{ offer.total }}</td>
                                </tr>
                                {% endfor %} 
                            </table>
                        </div>
                    {% endfor %} 
                    </div>
                    <p><b>Recommended exchange:</b> {{book.recommendation.exchange}}</p>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>
