<!DOCTYPE html>                                                                                                                      
{% load static %}
<html>
    <head>
        <title>Exchange Prices</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" >
    </head>
    <body>
        <!--Coin container-->
        {%for coin in coins %}
            {{ coin }}
            <h1>{{ coin.name }}</h1>
            <div class="coin_div">
                <!--Exchanges generator-->
                {%for exchange in coin.exchanges %}
                <div class="exchange">
                    <h2>{{ exchange.name }}</h2>
                    <div class="books">
                        <!-- load books -->
                        {% for book in exchange.books %}
                        <div class="price">
                            <h2>{{ book.name }}:</h2>
                            {% if book.name == "Asks" %}
                            <table class="asks_table">
                            {% else %}
                            <table class="bids_table">
                            {% endif %} 
                                <tr>
                                    <th>Price ($)</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            {% for offer in book.offers %}
                                <tr>
                                    <td>{{ offer.price }}</td>
                                    <td>{{ offer.quantity }}</td>
                                    <td>{{ offer.total }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div class="recommendation">
                    {% if coin.recommendation %}
                        <div class="best_ask">
                            <p>Best buy: <b>{{ coin.recommendation.best_ask.exchange }}</b> at <b>${{ coin.recommendation.best_ask.offer.price }}</b></p>
                        </div>
                        <div class="best_bid">
                            <p>Best sell: <b>{{ coin.recommendation.best_bid.exchange }}</b> at <b>${{ coin.recommendation.best_bid.offer.price }}</b></p>
                        </div>
                    {% else %}
                        This is where the recommendation will go.
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </body>
</html>
