.exchange{
    text-align: center;
    border: 1px solid;
}

.prices{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.coin_div{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 45% 45%;
    border: 1px solid black;
}

.books{
    display: flex;
    justify-content: center;
    padding: 0 5px;
}


